<!DOCTYPE html>
<html lang="en">
    <head>
        <title>optifat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section class="header">
            <div id="headerText">
                <h2> Pavel Smelov </h2>
                <ul class="headerList">
                    <li><a href="/" class="headerButton">Main page</a></li>
                    <li><a href=my_projects class="headerButton">My projects</a></li>
                    <li><a href=posts class="headerButton">Posts</a></li>
                </ul>
              </div>
          </section>
        {% block content %}
        {% endblock %}
    </body>
</html>
