{% extends "base.html" %}

{% block content %}
  <section class="main">
    <div class="odd">
      <p> Hi there! My name is Pavel Smelov. Optifat is a nickname I use back since about 2009. </br>
      I like programming, but I am too lazy for doing it regularly :) </br>
      I write on C++ and Python. I'm also studying Rust and Go, so I want to create some backend for this website using one of them as a practice. </br>
      You can find some of my code <a class="link" href="https://github.com/optifat">here</a>. Right now I'm trying to finish my own chess engine. Recently I've started creating some backend for this website on Rust, following <a class="link" href="https://dev.to/krowemoh/a-web-app-in-rust-01-getting-started-572a">this guide</a>. I'm also planning to use Golang for some pages
      </p>
    </div>
    <div class="even">
      <p> The site is in a slow process of development </br>
      Thanks <a class="link" href="https://lukesmith.xyz">Luke Smith</a> for encouraging me and providing guide on his <a class="link" href="https://www.youtube.com/c/LukeSmithxyz">YouTube channel</a>.</br>
      Feel free to contact me: <a class="link" href="mailto:pavsmel@hotmail.com">pavsmel@hotmail.com</a>.</br>
      You can also find me in <a class="link" href="https://t.me/@optifat">Telegram</a> or <a class="link" href="https://vk.com/optifat">VK</a>.
      </p>
    </div>
  </section>
{% endblock %}
