{% extends "base.html" %}

{% block content %}
    <section class="main">
        <div class="odd">
            <p> I've attented to a challenge to watch 200 movies in 2021. My current progress and ratings
                you can see <a class="link" href="https://www.kinopoisk.ru/user/15106150/votes/">here</a>.
        </div>
        <div class="even">
            <p> I'm not a big film expert, so my rates are too subjective and about "wheather I liked film or not".
                Here I will write about my most favorite and liked movies.
        </div>
    </section>
{% endblock %}
