{% extends "base.html" %}

{% block content %}
  <section class="main">
    <div class="row">
      <div class="column">
        <div class="content">
          <p><a href="https://github.com/optifat/chess_engine">Chess engine</a></p>
          <p> Chess engine is pretty close to its final point. We need to implement
            some more rules, test these all and create evaluator. Hope by the end of
            2021 you will be able to play against it on <a class="link" href="https://lichess.org"> lichess.org</a></p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <p><a class="link" href="optifat.com">This website</a></p>
          <p> Recently I've finally started creating backend for this website using Rust.
            There are couple of ideas for further development</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
